{% extends "base.html" %}

{% block content %}
<div class="card" style="width: 10rem;">
  <img src="{{ weather.icon }}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{ weather.temp }}°</h5>
    <p class="card-text">{{ weather.city}}: {{ weather.text }}</p>
    <p class="card-text">Сьогодні рекомендуємо таку піцу: {{ pizza_recom }}</p>
  </div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <td>№</td>
      <td>Назва піци</td>
      <td>Список інгредієнтів</td>
      <td>Ціна</td>
    </tr>
  </thead>
  <tbody>
    {% for pizza in pizzas %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ pizza.name }}</td>
      <td>
        {% for ingredient in pizza.ingredients %}
        <em>{{ ingredient.name }}|</em>
        {% endfor %}
      </td>
      <td>{{ pizza.price }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
